*{
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.center{
  height: 100%;
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-content: center;
  
}

.boundry{
  border: 3px solid;
  padding: 3%;
  width: 20%;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  border-radius: 5%;
  background-color:lightslategrey;
  min-width: 200px;
  min-height: 300px;


  .display{
    box-shadow: inset 0 0 0 3px;
    width: 100%;
    margin-bottom: 10%;
    border-radius: 5px;
    background-color: whitesmoke;
    min-height: 50px;
    display: inline-flex;
    justify-content: end;     
    
    .values{
      max-width:100%;
      font-size: 275%;
      margin: 0;
    }
  }

  .typePad{
    width: 100%;
    margin-bottom: 10%;
    border-radius: 5px;
    display: inline-block;
    flex-wrap: wrap;
    .buttons{
      width: 30%;
      margin: 1%;
      padding: 5%;
      font-size: 130%;
      justify-self: center;
      border-radius: .5em;
      
    }
    #equalTo:hover{
      background-color: rgb(63, 147, 63);
      transition-duration: .5s;
    }
    #DEL:hover{
      background-color:rgb(147, 63, 63);
      transition-duration: .5s;
    }
    #CLR:hover{
      background-color:rgb(201, 26, 26) ;
      transition-duration: .5s;
    }
  }
}